In [10]:
import pandas as pd

df = pd.read_excel(r"C:\Users\hp pavilion\Downloads\tech_price.xlsx", index_col = [0, 1], header = [0, 1])
df

                   USD                 EUR
company           open high low close open high low close
2023-01-01 Apple    89   26  68    69   37   56  11    25
           Google   66   71  26    83   96   68  91    11
           Amazon   12   43  97    75   25   25  90    43
2023-01-02 Apple    54   49  77    49   68   44  85    68
           Google   84   92  55    90   51   50  59    68
           Amazon   41   86  13    19   41   36  50    26
2023-01-03 Apple    67   47  46    70   41   62  72    49
           Google   60   70  54    71   78   47  12    57
           Amazon   71   15  47    53   86   44  68    33
2023-01-04 Apple    56   50  54    83   59   36  45    19
           Google   36   77  27    94   62   13  66    90
           Amazon   64   97  64    56   48   57  45    50
2023-01-05 Apple    34   45  60    84   24   49  63    54
           Google   69   92  14    63   21   85  80    87
           Amazon   63   75  27    43   91   63  95    30

In [11]:
df.stack(level=1)  #stacking the data frame

C:\Users\hp pavilion\AppData\Local\Temp\ipykernel_62772\2165884288.py:1: FutureWarning: The previous implementation of stack is deprecated and will be removed in a future version of pandas. See the What's New notes for pandas 2.1.0 for details. Specify future_stack=True to adopt the new implementation and silence this warning.
  df.stack(level=1)  #stacking the data frame

                           USD  EUR
                  company
2023-01-01 Apple  close     69   25
                  high      26   56
                  low       68   11
                  open      89   37
           Google close     83   11
                  high      71   68
                  low       26   91
                  open      66   96
           Amazon close     75   43
                  high      43   25
                  low       97   90
                  open      12   25
2023-01-02 Apple  close     49   68
                  high      49   44
                  low       77   85
                  open      54   68
           Google close     90   68
                  high      92   50
                  low       55   59
                  open      84   51
           Amazon close     19   26
                  high      86   36
                  low       13   50
                  open      41   41
2023-01-03 Apple  close     70   49
                  high      47   62
                  low       46   72
                  open      67   41
           Google close     71   57
                  high      70   47
                  low       54   12
                  open      60   78
           Amazon close     53   33
                  high      15   44
                  low       47   68
                  open      71   86
2023-01-04 Apple  close     83   19
                  high      50   36
                  low       54   45
                  open      56   59
           Google close     94   90
                  high      77   13
                  low       27   66
                  open      36   62
           Amazon close     56   50
                  high      97   57
                  low       64   45
                  open      64   48
2023-01-05 Apple  close     84   54
                  high      45   49
                  low       60   63
                  open      34   24
           Google close     63   87
                  high      92   85
                  low       14   80
                  open      69   21
           Amazon close     43   30
                  high      75   63
                  low       27   95
                  open      63   91

In [12]:
df.stack(level=0)  #stacking the data frame

C:\Users\hp pavilion\AppData\Local\Temp\ipykernel_62772\2008295142.py:1: FutureWarning: The previous implementation of stack is deprecated and will be removed in a future version of pandas. See the What's New notes for pandas 2.1.0 for details. Specify future_stack=True to adopt the new implementation and silence this warning.
  df.stack(level=0)  #stacking the data frame

company                open  high  low  close
2023-01-01 Apple  EUR    37    56   11     25
                  USD    89    26   68     69
           Google EUR    96    68   91     11
                  USD    66    71   26     83
           Amazon EUR    25    25   90     43
                  USD    12    43   97     75
2023-01-02 Apple  EUR    68    44   85     68
                  USD    54    49   77     49
           Google EUR    51    50   59     68
                  USD    84    92   55     90
           Amazon EUR    41    36   50     26
                  USD    41    86   13     19
2023-01-03 Apple  EUR    41    62   72     49
                  USD    67    47   46     70
           Google EUR    78    47   12     57
                  USD    60    70   54     71
           Amazon EUR    86    44   68     33
                  USD    71    15   47     53
2023-01-04 Apple  EUR    59    36   45     19
                  USD    56    50   54     83
           Google EUR    62    13   66     90
                  USD    36    77   27     94
           Amazon EUR    48    57   45     50
                  USD    64    97   64     56
2023-01-05 Apple  EUR    24    49   63     54
                  USD    34    45   60     84
           Google EUR    21    85   80     87
                  USD    69    92   14     63
           Amazon EUR    91    63   95     30
                  USD    63    75   27     43